<h1>This is the index view for Articles</h1>
Create new article here: <%= link_to "New Article", new_article_path %>
<% @articles.each do |article| %>
<div>
<h3><%= link_to article.title, article %></h3>

	<p>Published on <%= article.created_at.strftime('%b %d, %y')%></p>
	<p>Filed under 

	<% @categories = article.categories %>
	<% @categories.each do |cat| %>
		<%= cat.name %>
	<% end %>
	</p>
	<p>
	<%= truncate(article.content, {length: 200}) %>
	</p>


<% end %>